.vscode/arduino.json
.vscode/c_cpp_properties.json

02_Liquid_Crystal_Display(LCD)/Proteus_File/*.PWI
02_Liquid_Crystal_Display(LCD)/Proteus_File/*.DBK
03_Altrasonic_Sensor/Proteus_File/*.PWI
03_Altrasonic_Sensor/Proteus_File/*.DBK
04_Gas_Sensor(MQ-2)/Proteus_File/*.PWI
04_Gas_Sensor(MQ-2)/Proteus_File/*.DBK
05_Fire_Flame/Proteus_File/*.PWI
05_Fire_Flame/Proteus_File/*.DBK
08_Servo_Motor/*.DBK
09_Stepper_Motor/*.DBK
14_Soil_Mosture_Sensor/*.PWI
14_Soil_Mosture_Sensor/*.DBK
15_DHT_11-22_Temp&Humidity/*.PWI
15_DHT_11-22_Temp&Humidity/*.DBK

11_ESP8266_TX_RX/ESP_2_led/RemoteXY

0_Libraries(KEEP in C,programFile)/Arduino-LiquidCrystal-I2C-library-master

